@font-face {
  font-family: "FuturaPTBook";
  src: url("webFonts/FuturaPT/FuturaPTBook.otf");
}
@font-face {
  font-family: "FuturaPTBold";
  src: url("webFonts/FuturaPT/FuturaPTBold.otf");
}
h1, h2, h4, h5, h6, .h1, .h2, .h4, .h5, .h6 {
  font-family: "FuturaPTBook";
}

h3, .h3 {
  font-family: "FuturaPTBold";
}

.btn {
  font-family: "FuturaPTBook";
}

li, span, a, p, select, .txt {
  font-family: "FuturaPTBook";
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #434343 !important;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #FF8900 !important;
  opacity: 0.8;
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: #FFFFFF !important;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: transparent;
}

.header .cover {
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.header span {
  color: #FF8900;
  font-weight: 700 !important;
}

.btn {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  border-radius: 10px;
}

.btn-primary {
  color: #FFFFFF !important;
  background: linear-gradient(180deg, #ee9034 0%, #cd7b22 100%);
  border-color: linear-gradient(180deg, #ee9034 0%, #cd7b22 100%);
  padding: 0.625rem 2rem;
}
.btn-primary:hover {
  color: #FFFFFF !important !important;
  background: transparent !important;
  border-color: #FFFFFF !important;
}

.btn-outline-primary {
  color: #FFFFFF !important;
  background-color: transparent !important;
  border-color: #FFFFFF !important;
  padding: 0.625rem 2rem;
}
.btn-outline-primary:hover {
  color: #FFFFFF !important;
  background: linear-gradient(180deg, #ee9034 0%, #cd7b22 100%);
  border-color: transparent !important;
}

.btn-outline-orange:hover {
  color: #FF8900 !important;
  background-color: transparent;
  border-color: #FF8900 !important;
}

footer .text-muted {
  color: #B2B2B2 !important;
  font-size: 0.75rem;
}
footer .btn {
  font-size: 0.875rem;
}
footer .fa-brands {
  font-size: 1.25rem;
  color: #AAAAAA;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
footer .fa-brands:hover {
  color: #FF8900 !important;
}
footer .btn-link {
  font-weight: 400;
  color: #555555 !important;
  text-decoration: none;
}
footer .btn-link:hover {
  color: #FF8900 !important;
}

.modal .modal-title {
  font-size: 1.25rem;
  color: #434343 !important;
}

.height-10 {
  height: 10vh;
}

.height-20 {
  height: 20vh;
}

.height-30 {
  height: 30vh;
}

.height-40 {
  height: 40vh;
}

.height-50 {
  height: 90vh;
}

.height-61 {
  height: 61vh;
}

.height-70 {
  height: 70vh;
}

.height-80 {
  height: 80vh;
}

.height-90 {
  height: 90vh;
}

.height-100 {
  height: 100vh;
}

.fs-20 {
  font-size: 20px !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #F5F5F5 !important;
}

.bg-gray {
  --bs-bg-opacity: 1;
  background-color: #AAAAAA !important;
}

.bg-blue {
  background: linear-gradient(90deg, #21b1e2 0%, #0370af 100%);
}

.bg-blue-gra {
  background: linear-gradient(180deg, #1f86c7 0%, #052367 100%);
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.text-gray {
  color: #63666A !important;
}

.title {
  font-family: "FuturaPTBold";
  color: #434343 !important;
  font-size: 24px;
}

.lead {
  font-family: "FuturaPTBook";
  color: #63666A !important;
  font-size: 18px;
}

.text-white {
  color: white !important;
}

.fa-youtube {
  position: absolute;
  font-size: 40px;
  top: 41%;
  left: 43%;
}

.btn-video-thumbnail {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #D0D0D0;
}
.btn-video-thumbnail:hover {
  color: white !important;
}

.icon {
  background: #1ec46b;
  background: linear-gradient(45deg, #1ec46b 0%, #07dd87 100%);
  border-radius: 1.375rem;
  padding: 1.25rem;
  width: 6rem;
}
.icon svg {
  width: 3.5rem;
  fill: #FFFFFF !important;
}

.absolute-top {
  position: absolute;
  width: 100%;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
}

.cover {
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-blue-charts {
  background: #1D86C8 !important;
}

.bg-orange-charts {
  background: #EE9034 !important;
}

.bg-grey-charts {
  background: #B2B2B2 !important;
}

.bg-yellow-charts {
  background: #FFD500 !important;
}

.bg-dark-charts {
  background: #022069 !important;
}

.bg-light-charts {
  background: #21B1E2 !important;
}

.intro .card {
  border-radius: 0.375rem;
}
.intro .card .card-title {
  font-size: 1.25rem;
  color: #434343 !important;
}
.intro .card .card-text {
  color: #63666A !important;
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.tab .nav-pills .nav-link {
  padding: 0.675rem 1.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: #434343 !important;
}
.tab .nav-pills .nav-link:hover {
  color: #FF8900 !important;
}
.tab .nav-pills .nav-link.active, .tab .nav-pills .show > .nav-link {
  color: #FFFFFF !important;
  background-color: linear-gradient(180deg, #ee9034 0%, #cd7b22 100%);
}
.tab .nav-pills .nav-link.active:hover, .tab .nav-pills .show > .nav-link:hover {
  color: #FFFFFF !important;
  background-color: #FF8900 !important;
  border-color: transparent !important;
}

.testimonials blockquote {
  font-family: "Nexa-Regular";
  font-size: 1rem;
}
.testimonials blockquote .blockquote-footer {
  color: #FFFFFF !important;
}
.testimonials blockquote .btn-link {
  color: #FFFFFF !important;
}
.testimonials blockquote .btn-link:hover {
  color: #FF8900 !important;
}

.collaterals .card {
  border-radius: 25px;
}
.collaterals .card .card-title {
  font-size: 1.25rem;
  color: #434343 !important;
}
.collaterals .card .card-text {
  color: #63666A !important;
  font-size: 16px;
  line-height: 1.625rem;
}
.collaterals .card hr {
  opacity: 0.1;
}
.collaterals .btn-collateral {
  border-radius: 0 0 0.375rem 0.375rem;
  padding: 0.84rem 2rem;
}
.collaterals h3 {
  font-size: 38px !important;
  color: #142648 !important;
  font-weight: 700 !important;
}
.collaterals h5 {
  font-size: 20px !important;
  color: #142648 !important;
  font-weight: 700 !important;
  font-family: "FuturaPTBold" !important;
}
.collaterals .fs-20 {
  font-size: 20px !important;
}

.schedule .nav-pills {
  background-color: #EEF1F4;
  border-radius: 10px;
}
.schedule .nav-pills .active {
  background: linear-gradient(180deg, #ee9034 0%, #cd7b22 100%);
}
.schedule .nav-link {
  padding: 20px 175px !important;
  color: #5D5D5D;
  font-family: "FuturaPTBold";
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 1em;
}
.schedule .card {
  border-radius: 25px !important;
  border-color: #EEEEEE;
}
.schedule .sec-1 {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 1rem;
}
.schedule .badge {
  color: red;
  font-size: 20px !important;
  background-color: #F4EFFD !important;
  padding: 16px 20px !important;
  margin-bottom: 10px;
}
.schedule .am-pm {
  color: red;
  font-size: 14px;
  font-weight: 700;
}
.schedule h5 {
  color: #142648 !important;
  font-size: 1.25rem;
  font-family: "FuturaPTBold";
}
.schedule .icon-box {
  display: flex;
  align-items: center;
}
.schedule h3 {
  color: #142648 !important;
  font-size: 38px;
}
.schedule p {
  font-size: 1rem;
  color: #63666A;
}

.numbers h2 {
  color: #FFFFFF !important;
  font-size: 5rem;
  font-family: "FuturaPTBold";
}
.numbers p {
  color: #FFFFFF !important;
  font-size: 1.75rem;
}

.our-speaker-lineup h3 {
  font-size: 38px !important;
  color: #142648 !important;
  font-weight: 700 !important;
}
.our-speaker-lineup h5 {
  font-size: 20px !important;
  color: #142648 !important;
  font-weight: 700 !important;
  font-family: "FuturaPTBold";
}
.our-speaker-lineup p {
  font-size: 16px !important;
  color: #63666A !important;
}
.our-speaker-lineup .fs-20 {
  font-size: 20px !important;
}
.our-speaker-lineup .modal {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.our-speaker-lineup .modal-dialog {
  max-width: 577px !important;
}
.our-speaker-lineup .modal-content {
  border-radius: 25px !important;
}
.our-speaker-lineup .modal-header {
  padding: 10px 10px !important;
  border-bottom: 0 !important;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}
.our-speaker-lineup .modal-body {
  padding: 0px 30px !important;
}
.our-speaker-lineup .modal-footer {
  justify-content: center !important;
  border-top: 0 !important;
}
.our-speaker-lineup a {
  text-decoration: none !important;
}

.save-your-seat h3 {
  font-size: 32px !important;
  color: #FFFFFF !important;
  font-weight: 700 !important;
}
.save-your-seat p {
  font-size: 24px !important;
  color: #FFFFFF !important;
}
.save-your-seat label {
  color: #FFFFFF !important;
  font-family: "FuturaPTBook" !important;
}
.save-your-seat .form-control {
  border-radius: 10px;
}
.save-your-seat .form-check-input:checked {
  background-color: #FF8900 !important;
  border-color: #FF8900 !important;
}

.breadcrumb a {
  color: #63666A;
  font-size: 20px;
  text-decoration: none;
}
.breadcrumb li {
  color: #63666A;
  font-size: 20px;
}

.filters .form-select {
  padding: 1rem 2.25rem 1rem 1rem;
  border-radius: 10px;
  border: 1px solid #EE8F33;
  font-size: 16px;
  color: #63666A;
  background-image: url("../images/Input.svg");
  background-position: right -2px center;
  background-size: 57px 102%;
}
.filters .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(238, 143, 51, 0.25);
}
.filters .form-control {
  padding: 1rem 2.25rem 1rem 1rem;
  font-size: 16px;
  color: #63666A;
  border: 1px solid #EE8F33;
  border-radius: 10px;
}
.filters .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(238, 143, 51, 0.25);
}
.filters .btn {
  transition: none !important;
}
.filters .btn-primary:hover {
  color: #FFFFFF !important;
  background: #EE8F33 !important;
  border-color: #EE8F33 !important;
}
.filters .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(238, 143, 51, 0.25);
}
.filters .mb-sm-20 {
  margin-bottom: 20px;
}

.table :not(caption) > * > * {
  padding: 1rem 1rem !important;
}
.table thead {
  border-style: hidden !important;
}
.table .bs-none {
  border-style: none !important;
}
.table th {
  background-color: #F1F1F1 !important;
  font-size: 20px;
  font-family: "FuturaPTBold";
}
.table th.btlr {
  border-top-left-radius: 10px;
}
.table th.btrr {
  border-top-right-radius: 10px;
}
.table th.text-white {
  background: linear-gradient(180deg, #21b1e2 0%, #1d86c8 100%);
}

.our-standings .title {
  color: #142648 !important;
  font-size: 38px;
}
.our-standings .progress {
  height: 4rem;
}
.our-standings h4 {
  color: #63666A !important;
  font-size: 20px;
}
.our-standings .lead {
  color: #79828B !important;
  font-size: 16px;
}

.rsvps .title {
  color: #142648 !important;
  font-size: 38px;
}
.rsvps h4 {
  font-size: 18px;
}

@media (max-width: 680px) {
  .navbar .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 1rem;
  }

  .testimonials .media {
    width: 65%;
    text-align: center;
    margin: 0 auto;
  }

  .videos .accordion-button {
    padding: 1rem 0;
    color: .videos .accordion-button black;
  }
  .videos .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
  }
  .videos .accordion-button:not(.collapsed) {
    color: #FF8900 !important;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
  }
  .videos .accordion-button:not(.collapsed)::after {
    background-image: url("../images/arrow-down.svg");
    transform: rotate(-180deg);
  }
  .videos .accordion-body {
    padding: 1rem 0;
  }
}
@media (max-width: 769px) {
  .header .img1 {
    padding-top: 60px !important;
  }

  .calltoaction .d-flex {
    display: initial !important;
    text-align: center !important;
  }
  .calltoaction .text-end {
    text-align: center !important;
  }
  .calltoaction .mt-sm-20 {
    margin-top: 20px;
  }

  .schedule .nav-link {
    padding: 20px 160px !important;
  }
  .schedule .sec-1 {
    align-items: start !important;
  }

  .numbers .aling-mobile {
    display: contents !important;
  }

  .our-standings .d-flex-inline {
    display: initial !important;
  }
  .our-standings .mb-20 {
    margin-bottom: 20px !important;
  }
}
@media (min-width: 575px) {
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (max-width: 575px) {
  .filters .mb-20 {
    margin-bottom: 20px !important;
  }
}

/*# sourceMappingURL=style.css.map */
