$white: #FFFFFF!important;
$black: #434343!important;
$orange: #FF8900!important;
$blue: #142648!important;
$orange-gra: linear-gradient(180deg, rgba(238,144,52,1) 0%, rgba(205,123,34,1) 100%);

$title: #434343!important;
$paragraph: #63666A!important;
$footer-text: #B2B2B2!important;
$footer-text-link: #555555 !important;

$bg-light : #F5F5F5!important;
$bg-gray: #AAAAAA!important;
$bg-blue: linear-gradient(90deg, rgba(33,177,226,1) 0%, rgba(3,112,175,1) 100%);
$bg-blue-gra: linear-gradient(180deg, rgba(31,134,199,1) 0%, rgba(5,35,103,1) 100%);

$btn-color-one: linear-gradient(180deg, rgba(238,144,52,1) 0%, rgba(205,123,34,1) 100%);
$btn-color-one-hover: transparent !important;

$btn-color-two : transparent !important;
$btn-color-two-hover : $orange;
$btn-color-two-hover-border: transparent !important;

$btn-link-color-hover : #07DD87!important;