.header {
    .cover {
        background-position: top center!important;
        background-repeat: no-repeat!important;
        background-size: contain!important;
    }

    span {
        color: #FF8900;
        font-weight: 700 !important;
    }
}

.calltoaction {
    
}
