.modal {
    .modal-title {
        font-size: 1.25rem;
        color: $black;
    }
}

.modal-video {
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }
    .modal-body {
        position:relative;
        padding:0px;
    }
    .btn-close {
        position:absolute;
        right:-30px;
        top:0;
    }
}