.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// Dark links against a light background
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $black;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            &:hover,
            &:focus {
            color: $btn-color-two-hover;
            opacity: 0.8;
            }

            &.disabled {
            color: $white;
            }
        }
    }
    .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: transparent;
    }
}