$layout-breakpoint-small: 680px;
$layout-breakpoint-medium: 1200px;

@media (max-width: $layout-breakpoint-medium) {
    .our-standings h4 {
        font-size: 16px;
        color: rgb(99, 102, 106) !important;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .navbar {
        .nav-link {
            padding-right: 0!important;
            padding-left: 0!important;
            padding-top: 1rem;
        }
    }

    .testimonials {
        .media {
            width: 65%;
            text-align: center;
            margin: 0 auto;
        }
    }

    .videos {
        .accordion-button {
            padding: 1rem 0;
            color: &black;
            &:focus {
                z-index: 3;
                border-color: transparent;
                outline: 0;
                box-shadow: 0 0 0 0 transparent;
            }
            &:not(.collapsed) {
                color: $btn-color-two-hover;
                background-color: white;
                box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
            }
            &:not(.collapsed)::after {
                background-image: url('../images/arrow-down.svg');
                transform: rotate(-180deg);
            }
        }
        .accordion-body {
            padding: 1rem 0;
        }
    }

}

@media (max-width: 769px) {
    .header {
        .img1 {
            padding-top: 60px !important;
        }

    }

    .calltoaction {
        .d-flex {
            display: initial !important;
            text-align: center !important;
        }
        .text-end {
            text-align: center !important;
        }

        .mt-sm-20 {
            margin-top: 20px;
        }
    }

    .schedule {
        .nav-link {
            padding: 20px 160px !important;
        }

        .sec-1 {
            align-items: start !important;
        }
    }

    .numbers {
        .aling-mobile {
            display: contents !important;
        }
    }
    .our-standings {
        .d-flex-inline {
            display: initial !important;
        }
        .mb-20 {
            margin-bottom: 20px !important;
        }
    }
}

@media (min-width: 575px) {
    .d-sm-inline-flex {
        display: inline-flex!important;
    }
}

@media (max-width: 575px) {
    .filters {
        .mb-20 {
            margin-bottom: 20px !important;
        }
    }
}