.height-10 {height: 10vh;}
.height-20 {height: 20vh;}
.height-30 {height: 30vh;}
.height-40 {height: 40vh;}
.height-50 {height: 90vh;}
.height-61 {height: 61vh;}
.height-70 {height: 70vh;}
.height-80 {height: 80vh;}
.height-90 {height: 90vh;}
.height-100 {height: 100vh;}

.fs-20 {
    font-size: 20px !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: $bg-light;
}

.bg-gray {
    --bs-bg-opacity: 1;
    background-color: $bg-gray;
}

.bg-blue {
    background: $bg-blue;
}

.bg-blue-gra {
    background: $bg-blue-gra;
}

.py-6 {
    padding-top: 6rem!important;
    padding-bottom: 6rem!important;
}

.text-gray {
    color: $paragraph;
}

.title {
    font-family: 'FuturaPTBold';
    color: $title;
    font-size: 24px;
}

.lead {
    font-family: 'FuturaPTBook';
    color: $paragraph;
    font-size: 18px;
}

.text-white {
    color: white!important;
}

.fa-youtube {
    position: absolute;
    font-size: 40px;
    top: 41%;
    left: 43%;
}

.btn-video-thumbnail {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #D0D0D0;
    &:hover {
        color: white!important;
    }
}

.icon {
    background: rgb(30,196,107);
    background: linear-gradient(45deg, rgba(30,196,107,1) 0%, rgba(7,221,135,1) 100%);
    border-radius: 1.375rem;
    padding: 1.25rem;
    width: 6rem;
    svg {
        width: 3.5rem;
        fill: $white; 
    }
}

.absolute-top {
    position: absolute;
    width: 100%;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important;
}

.cover {
    background-position: bottom center!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bg-blue-charts {
    background: $bg-blue-charts;
}
.bg-orange-charts {
    background: $bg-orange-charts;
}
.bg-grey-charts {
    background: $bg-grey-charts;
}
.bg-yellow-charts {
    background: $bg-yellow-charts;
}
.bg-dark-charts {
    background: $bg-dark-charts;
}
.bg-light-charts {
    background: $bg-light-charts;
}
.bg-green-charts {
    background: $bg-green-charts;
}
.bg-red-charts {
    background: $bg-red-charts;
}
.bg-gray-charts {
    background: $bg-gray-charts;
}